In [22]:
import pandas as pd
df1 = pd.read_csv('test.csv')

In [23]:
df1.head()

,quiz_id,submitted_at,score,trophy_level,accuracy,speed,final_score,negative_score,correct_answers,incorrect_answers,...,started_at,ended_at,better_than,total_questions,mistakes_corrected,initial_mistake_count,quiz.title,quiz.topic,rank,title
0,18,13-01-25 13:12:40,40,1,100.0,100,40.0,0.0,10,0,...,13-01-25 13:11:13,13-01-25 13:12:39,177,22,0,0,REPRODUCTIVE HEALTH PYQ,Reproductive Health,2380,reproductive health
1,18,11-01-25 21:03:43,64,3,84.0,86,61.0,3.0,16,3,...,11-01-25 20:58:07,11-01-25 21:03:42,286,22,0,3,REPRODUCTIVE HEALTH PYQ,Reproductive Health,5764,reproductive health
2,51,17-01-25 15:30:18,108,2,90.0,100,105.0,3.0,27,3,...,17-01-25 15:18:30,17-01-25 15:30:15,107,100,9,12,Human Physiology (15),Body fluids and circulation,171,human physiology

In [15]:
df = df1[['id', 'quiz_id', 'user_id', 'submitted_at', 'created_at', 'updated_at',
       'score', 'trophy_level', 'accuracy', 'speed', 'final_score',
       'negative_score', 'correct_answers', 'incorrect_answers', 'source',
       'type', 'started_at', 'ended_at', 'duration', 'better_than',
       'total_questions', 'rank_text', 'mistakes_corrected',
       'initial_mistake_count', 'quiz.title', 'quiz.topic']]




df['rank'] = df['rank_text'].str.extract(r'#-?(\d+)').astype(int)

df = df.drop(['created_at', 'updated_at', 'duration'], axis=1)


df['started_at'] = pd.to_datetime(df['started_at']).dt.strftime('%d-%m-%y %H:%M:%S')
df['ended_at'] = pd.to_datetime(df['ended_at']).dt.strftime('%d-%m-%y %H:%M:%S')
df['submitted_at'] = pd.to_datetime(df['submitted_at']).dt.strftime('%d-%m-%y %H:%M:%S')

C:\Users\sreem\AppData\Local\Temp\ipykernel_7776\2948844925.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rank'] = df['rank_text'].str.extract(r'#-?(\d+)').astype(int)

In [16]:
df

,id,quiz_id,user_id,submitted_at,score,trophy_level,accuracy,speed,final_score,negative_score,...,started_at,ended_at,better_than,total_questions,rank_text,mistakes_corrected,initial_mistake_count,quiz.title,quiz.topic,rank
0,320916,18,YcDFSO4ZukTJnnFMgRNVwZTE4j42,13-01-25 13:12:40,40,1,100 %,100,40.0,0.0,...,13-01-25 13:11:13,13-01-25 13:12:39,177,22,Topic Rank - #-2380,0,0,REPRODUCTIVE HEALTH PYQ,reproductive health,2380
1,315081,18,YcDFSO4ZukTJnnFMgRNVwZTE4j42,11-01-25 21:03:43,64,3,84 %,86,61.0,3.0,...,11-01-25 20:58:07,11-01-25 21:03:42,286,22,Topic Rank - #-5764,0,3,REPRODUCTIVE HEALTH PYQ,reproductive health,5764
2,336497,51,YcDFSO4ZukTJnnFMgRNVwZTE4j42,17-01-25 15:30:18,108,2,90 %,100,105.0,3.0,...,17-01-25 15:18:30,17-01-25 15:30:15,107,100,Topic Rank - #-171,9,12,Human Physiology (15),Body Fluids and Circulation,171

In [17]:
import re
def clean_title(title):
    title_lower= re.sub(r'\s*\(.*?\)|\s*pyq', '', title.lower())
    return title_lower

df['title'] = df['quiz.title'].apply(clean_title)

In [18]:

df['quiz.topic'].replace('Body Fluids and Circulation ', 'Body fluids and circulation', inplace=True)
df['quiz.topic'].replace('Body Fluids and Circulation', 'Body fluids and circulation', inplace=True)
df['quiz.topic'].replace('reproductive health ', 'Reproductive Health', inplace=True)



df['accuracy'] = df['accuracy'].str.replace('%', '').astype(float)

In [19]:
df

,id,quiz_id,user_id,submitted_at,score,trophy_level,accuracy,speed,final_score,negative_score,...,ended_at,better_than,total_questions,rank_text,mistakes_corrected,initial_mistake_count,quiz.title,quiz.topic,rank,title
0,320916,18,YcDFSO4ZukTJnnFMgRNVwZTE4j42,13-01-25 13:12:40,40,1,100.0,100,40.0,0.0,...,13-01-25 13:12:39,177,22,Topic Rank - #-2380,0,0,REPRODUCTIVE HEALTH PYQ,Reproductive Health,2380,reproductive health
1,315081,18,YcDFSO4ZukTJnnFMgRNVwZTE4j42,11-01-25 21:03:43,64,3,84.0,86,61.0,3.0,...,11-01-25 21:03:42,286,22,Topic Rank - #-5764,0,3,REPRODUCTIVE HEALTH PYQ,Reproductive Health,5764,reproductive health
2,336497,51,YcDFSO4ZukTJnnFMgRNVwZTE4j42,17-01-25 15:30:18,108,2,90.0,100,105.0,3.0,...,17-01-25 15:30:15,107,100,Topic Rank - #-171,9,12,Human Physiology (15),Body fluids and circulation,171,human physiology